.product-container {
    display: flex;
    flex-direction: row;
    padding: 50px 150px;
    gap: 40px;
}

.product-photos {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.secondary-photos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px
}

.secondary-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.main-photo {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-name {
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--dark);
}

.product-showmore {
    color: var(--dark);
    text-decoration: none;
    font-weight: 600;
}

.product-showmore:hover {
    text-decoration: underline;
}

.detail-card {
    background-color: var(--card-bg);
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 12px 32px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 580px;
}

.detail-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.detail-label {
    font-size: 0.85rem;
    color: #888888;
}

.detail-value {
    color: var(--dark);
    font-weight: 700;
}

.add-to-cart{
    background-color: var(--accent);
    color: var(--dark);
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    margin: 20px;
    transition: transform 0.2s, font-weight 0.1s;
}

.add-to-cart:hover {
    font-weight: 700;
    transform: scale(1.05);
    cursor: pointer;
}

.product-price {
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
}

.quantity-value {
    width: 40px;
    height: 40px;
    border: 2px solid darkgray;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}