.product-container {
    display: flex;
    flex-direction: row;
    padding: 50px 150px;
    gap: 40px;
}

.product-photos {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.secondary-photos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px
}

.secondary-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.main-photo {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-name {
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: var(--dark);
}

.product-showmore {
    color: var(--dark);
    text-decoration: none;
    font-weight: 600;
}

.product-showmore:hover {
    text-decoration: underline;
}